@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,400;0,500;1,100&display=swap");

/* font-family: 'Righteous', cursive; */

:root {
  --main-primary-color: #c28e2c;
  --main-secondary-color: #2c66c2;
  --main-bg-color: black;
}

* {
  color: white;
  animation-name: panIn;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  overflow-x: hidden;
}

h1,
h2 {
  margin: 0;
  width: 100%;
  font-family: "Righteous", cursive;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 4em;
}

p {
  font-size: 1.5em;
}

table {
  width: 100%;
  text-align: left;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 65px;
  padding-right: 65px;
  z-index: 99;
}

nav {
  width: 200px;
  position: inherit;
  display: flex;
  animation-name: panIn, fadeIn;
  animation-duration: 3s;
}

nav ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav ul a {
  margin: 0 10px;
}

main {
  height: 100vh;
  /* max-width: 100%; */
  max-width: 100vw;
  /* padding: 140px 0px 140px 40px; */
  background-image: url("https://picsum.photos/seed/picsum/2000/2000");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2em;
  animation-name: panIn;
  animation-duration: 2s;
}

section {
  height: 100%;
  max-width: 100%;
  padding: 100px 40px 100px 40px;
  /* padding: 0px 0px 0px 0px; */
  background-color: var(--main-bg-color);
  /* animation-name: panIn;
  animation-duration: 2s; */
}

footer ul {
  list-style-type: none;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
}

footer {
  position: relative;
  height: 70px;
  width: 100%;
  background-color: var(--main-bg-color);
}

.linkimage {
  display: block;
  max-width: 100%;
}

.image {
  margin-top: 50px;
  text-align: center;
  display: block;
  max-width: 100%;
}

.itemdiv {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 140px;
  background-color: transparent;
}

.textdiv {
  position: relative;
  display: block;
}

.textbg {
  display: block;
  position: absolute;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  user-select: none;
  text-transform: uppercase;
  height: auto;
  max-width: 100%;
  padding: 20px;
  font-size: 15vw;
  /* top: 100%; */
  right: 0%;
  left: 0%;
}

.darkyellow {
  color: var(--main-primary-color);
}

.darkblue {
  color: var(--main-secondary-color);
}

.overlay {
  position: absolute;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  height: 65vh;
  padding: 200px 0px 80px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  /* height: 100%; */
  max-width: 100%;
  z-index: 1;
}

.main-article {
  z-index: 99;
}

.fullstop {
  font-size: 3em;
}

#colored {
  text-decoration: underline;
}

#contact {
  /* position: relative; */
  /* /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center; */
}

::-webkit-scrollbar {
  background-color: var(--main-bg-color);
  width: 5px;
}

::-webkit-scrollbar-thumb {
  position: absolute;
  top: 0;
  background-color: var(--main-primary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes panIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@media screen and (min-width: 750px) {

  .image {
    min-width: 50%;
    margin-right: 20px;
    /* background-color: black; */
  }
  .itemdiv {
    z-index: 99;
    flex-direction: row;
    align-items: center;
  }

  table{
    font-size: 2vw;
  }

  h1 {
    font-size: 6em;
  }
  
  h2 {
    font-size: 5.5em;
  }
}
